.nav span.badge {
        float: right;
}

table.table tr.new, tr.loader {
        display: none;
}

table.table tr.loader td {
        text-align: center;
}

.container-fluid {
        padding-top: 20px;
        padding-bottom: 20px;
}
